@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    background-size: cover;
    padding: 2%;
    background: #EEF3F7;
}

#root {
    background: #FFF;
    padding: 30px;
    border-radius: 20px;
}

main {
    padding: 30px 10px 20px 10px;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
    transition: all 100ms linear 100ms;
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: left;
    align-items: center;
}

h1 a {
    margin: 0;
    padding: 0;
}

h1 span {
    opacity: 0.4;
}

.right {
    float: right;
}