.filter {
    margin: 20px;
}

.filter a.active {
    background: #ccc;
}

.filter a.active-otw {
    background: rgba(103, 173, 91, 0.3);
    color: var(--otw);
}

.filter a.active-parked {
    background: rgba(93, 163, 188, 0.3);
    color: var(--parked);
}

.filter a.active-charging {
    background: rgba(217, 180, 65, 0.3);
    color: var(--charging);
}


table .status .otw {
    border-color: var(--otw);
    color: var(--otw);
}

table .status .parked {
    border-color: var(--parked);
    color: var(--parked);
}

table .status .charging {
    border-color: var(--charging);
    color: var(--charging);
}