.filter {
    margin: 20px;
}

.filter a.active {
    background: #ccc;
}

.filter a.active-otw {
    background: rgba(103, 173, 91, 0.3);
    color: rgba(103, 173, 91, 1);
}

.filter a.active-parked {
    background: rgba(93, 163, 188, 0.3);
    color: rgba(93, 163, 188, 1);
}

.filter a.active-charging {
    background: rgba(217, 180, 65, 0.3);
    color: rgba(217, 180, 65, 1);
}

table {
    width: 100%;
    text-align: left;
}

thead tr th {
    width: 20%;
    padding: 10px
}

tbody:hover {
    background: #F5F5F5;
}

tbody tr td {
    padding: 10px;
    border: none;
}
